<a href="https://github.com/RicardoBalducci" aria-label="Github"><i class="fa-brands fa-github"></i></a>
<a href="https://wa.me/+584120951000" aria-label="Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
<a href="https://twitter.com/RicardoBalducc1" aria-label="X"><i class="fa-brands fa-square-x-twitter"></i></a>
<a href="https://www.instagram.com/ricardo_balducci/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
<a href="https://www.facebook.com/ricardoandres.balduccihernandez" aria-label="facebook"><i class="fa-brands fa-square-facebook"></i></a>
<a href="https://www.linkedin.com/in/ricardo-balducci/" aria-label="linkelin"><i class="fa-brands fa-linkedin"></i></a>
<a href="mailto:ricardo0balducci@gmail.com" aria-label="correo electronico"><i class="fa-solid fa-envelope"></i></a>

<style>
    i{
        margin: 20px;
        margin-top: 30px;
        cursor: pointer;
        font-size: 40px;    
    }
    i:hover{
        text-shadow: 0 0 5px #FFFF, 0 0 10px #FFFF, 0 0 20px #FFFF, 0 0 40px #FFFF, 0 0 80px #FFFF, 0 0 120px #FFFF, 0 0 160px #FFFF;
    }
    

    @media (max-width: 768px) {
		i{
            font-size: 30px;
            margin: 15px;
        }
    }

</style>
