


<div class="Conocimientos">
    <h1 class="Titulo-Con">Conocimientos</h1>
    <div class="Contenedor">
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="./HTML.png" alt="Descripción de la imagen">
            <h1 class="Titulo-Conocimiento">HTML</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/CSS.png" alt="">
            <h1 class="Titulo-Conocimiento">CSS</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Javascript.png" alt="">
            <h1 class="Titulo-Conocimiento">Javascript</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/React.png" alt="">
            <h1 class="Titulo-Conocimiento">React</h1>
        </div>
        <!-----
        --- -->
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Typescript.png" alt="">
            <h1 class="Titulo-Conocimiento">Typescript</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/PHP.png" alt="">
            <h1 class="Titulo-Conocimiento">PHP</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Nestjs.png" alt="">
            <h1 class="Titulo-Conocimiento">Nestjs</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Astro.png" alt="">
            <h1 class="Titulo-Conocimiento">Astro</h1>
        </div>
        <!-----
        --- -->
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Postgresql.png" alt="">
            <h1 class="Titulo-Conocimiento">PostgreSQL</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Mysql.png" alt="">
            <h1 class="Titulo-Conocimiento">MySQL</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Bootstrap.jpg" alt="">
            <h1 class="Titulo-Conocimiento">Bootstrap</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Flutter.png" alt="">
            <h1 class="Titulo-Conocimiento">Flutter</h1>
        </div>
        <!-----
        --- -->
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Figma.png" alt="">
            <h1 class="Titulo-Conocimiento">Figma</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/python-logo.png" alt="">
            <h1 class="Titulo-Conocimiento">Python</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Dart.png" alt="">
            <h1 class="Titulo-Conocimiento">Dart</h1>
        </div>
        <div class="contenido-Conocimiento">
            <img class="Icono-Conocimiento" src="../../../public/Git.svg" alt="">
            <h1 class="Titulo-Conocimiento">Git</h1>
    </div>
    
</div>



<style>

.Conocimientos {
    margin: 150px;
}

.Titulo-Con {
    font-size: 50px;
    color: #FFD600;
}

.Contenedor {
    justify-content: center;
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 200px));
    grid-gap: 10px;
}

.contenido-Conocimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.Icono-Conocimiento {
    width: 100px;
}

@media (max-width: 1036px) {
    .Conocimientos {
        margin: 20px;
    }
    .Titulo-Con {
        font-size: 30px;
    }
    .Icono-Conocimiento {
        width: 60px;
    }
    .Contenedor {
    grid-template-columns: repeat(auto-fit, minmax(100px, 110px));
}
    .contenido-Conocimiento{
        margin-right: 20px;
    }

    .Titulo-Conocimiento{
        margin-top: 10px;
        font-size: 25px;
    }
}
</style>