
    <nav class="menu">
      <ul>
        <h1>Ricardo Balducci</h1> 
      </ul>
    </nav>
  
    <style>
        menu {
          padding: 10px;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          background-color: red;
          text-align: end;
        }
      /*.
        h1 {
          font-size: 50px;
          margin: 0;
        }
      
        ul {
          list-style-type: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }*/
      </style>