---
import Menu from "../components/menu.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<title>Ricardo Balducci</title>
		
	</head>
	<body>
		<Menu />
		<slot />
	</body>
</html>
<style is:global>

	* {
		margin: 0%;
		padding: 0%;
		color: #fff;
		font-family: "Archivo Narrow", sans-serif;
	}
	html {
		background-color: #040820;
	}

	
	/*
	
	html {
		background-color: #100435;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	*/
</style>

<script src="https://kit.fontawesome.com/13478f9d56.js" crossorigin="anonymous"></script>

 