

<div class="Formacion">
    <h1 class="Titulo-Form">Formación Academica</h1>
    
</div>




<style>
    .Formacion {
		margin: 100px;
	}
    .Titulo-Form{
        margin: 20px 20px 20px 0px;
        font-size: 50px;
        color: #FFD600;
        text-align: end;
    }


    @media (max-width: 768px) {
		.Formacion{
            text-align: center;
        }
        .Titulo-Form {
            font-size: 30px;
        }
	}
    /*
    
    <h1>Unidad Educativa Instituto Educacional Nueva Esparta</h1>
    <h2>Bachillerato</h2>
    <h2>2014-2019</h2>
    <h1>Universidad de Oriente Núcleo Nueva Esparta</h1>
    <h2>Licenciatura en Informática</h2>
    <h2>2019-Actualmente</h2>
    */
</style>